.navbar {
    @media(max-width: 991px) {
        // padding-top: 18px; //bug?
    }
    .navbar-brand {
        padding: 5px;
        img {
            transition: all .2s;
        }
        #the-logo {
            max-width: 10rem;
            display: none;
        }
        #the-logo-sm {
            max-width: 8rem;
        }
    }
    &.navbar-transparent {
        @media(min-width: 992px) {
            padding: 0;
        }
        .navbar-brand {
            #the-logo {
                display: inline-block;
            }
            #the-logo-sm {
                display: none;
            }
        }
        .nav-item {
            .nav-link {
                .text {
                    @media(min-width:992px){
                        color:#fff !important;
                    }
                }
            }
        }
    }
    & > .container {
        align-items: start;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                opacity: 1;
                i {
                    top: 1px;
                    right: 6px;
                }
            }
        }
    }
}

.wrapper {
    background-image: url('/assets/img/art-web.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    #bandcamp-embed-container {
        z-index: 9;
        width: 100%;
        iframe {
            width:21%;
            border: 0; 
            height: 120px;
        }
    }
    .page-header {
        background: initial;
        min-height: 14vh !important;
    }
    .profile-content {
        z-index:9;
        background-color: rgba(0, 0, 0, 0.5);
        & > .container {
            background: #fff;
            opacity: 0.9;
            .owner {
                .name {
                    img {
                        @media(min-width: 1200px) {
                            margin-bottom: -100px;
                            margin-left: 5px;
                        }
                        @media(max-width: 991px) {
                            margin-bottom: 25px;
                        }
                    }
                }
                .avatar {
                    max-width: 250px;
                    margin: -119px auto 0;
                }
            }
        }
        .nav-tabs-navigation {
            .nav-tabs-wrapper {
                margin: initial;
                .nav-tabs {
                    .nav-item {
                        .nav-link {
                            &.active {
                                font-weight:bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pre-letter {
    font-size: 42px;
    // position: absolute;
    left: -12px;
    top: -8px;
    font-weight: bold;
}

.featured {
    li {
        img {
            max-width:200px;
            @media(max-width: 575px) {
                max-width:150px;
            }
        }
        h5 {
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.5em;
        }
        h6 {
            @media(min-width:576px){
                position: relative;
                top:40%
            }
        }
    }
    &#musicians {
        li {
            img {
                max-width:200px;
                @media(max-width: 576px) {
                    max-width:150px;
                }
            }
            h5 {
                @media(min-width:576px){
                    position: relative;
                    top:40%
                }
            }
        }
    }
    &#artwork {
        img {
            max-height: 165px;
        }
    }
}

.footer {
    .footer-nav, .credits {
        @media(max-width:991px) {
            width:100%;
            text-align: center;
        }
    }
}