<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">YouTube</a></li>
                    <li><a href="http://blog.creative-tim.com">Facebook</a></li>
                    <li><a href="https://www.creative-tim.com/license">Bandcamp</a></li>
                    <li><a href="https://youtu.be/1RFKP0w7Pz4" target="_blank">I need a vacation</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} We Are In Transit, made with <i class="fa fa-heart heart"></i>
                </span>
            </div>
        </div>
    </div>
</footer>
